<h1> Welcome, Traveler!</h1>


<div>
<p>


</p>



</div>

<p><%= link_to "Log in to view your itineraries.", login_path %> </p>

<p><%= link_to "Create a new account.", new_salesman_path %> </p>
<!-- We need to create another path for login, I think. Can someone confirm? -->
<p><%= link_to 'Browse locations to book a trip.', destinations_path %></p>