<h1> Welcome, Traveler!</h1>


<div>
<p>


</p>



</div>

<p><%= button_to "Log in to view your itineraries.", login_path %> </p>
<!-- We need to create another path for login, I think. Can someone confirm? -->
<p><%= button_to 'Browse locations to book a trip.', destinations_path %></p>