<h1> Welcome, Traveler!</h1>

<p><%= link_to "Let's get you logged in.", salesmen_path %> </p>
<!-- We need to create another path for login, I think. Can someone confirm? -->
<p><%= link_to 'View your upcoming trips.', itineraries_path %></p>