<h1> Welcome, Traveler!</h1>

<h2> What would you like to do?</h2>
<p><%= link_to 'Create a new itinerary.', new_itinerary_path %> </p>

<p><%= link_to 'View your upcoming trips.', itineraries_path %></p>