<h1> Your account: </h1><p>
  <strong>First and last name:</strong>
  <%= @salesman.name %>
</p>


<p>
  <strong>Company:</strong>
  <%= @salesman.company %>
</p>

<%= link_to 'Edit', edit_salesman_path(@salesman) %>
<br>
<%= link_to 'Back', salesmen_path %>
