
<ul>

<h1>Lets Go!!</h1>

<p>PROFILE HIGHLIGHTS</p>
<%# <----  <%= OF ATTRIBUTES OR LAST TRIPS TAKEN%> 



<p><a href="#">OPTION TO UPDATE PERSONAL INFO</a></p>

<%# <----  THIS WOULD BE THE SALESMAN CONTROLLER EDIT ACTION  ------> %>




<p><a href="#"><a href="#">LIST OF USERS UP COMING INITERARIES</a></p>

<%# <----  THIS WOULD BE THE SALESMAN CONTROLLER EDIT ACTION  ------> %>




<p><a href="#">OPTION TO BOOK A NEW TRIP</a></p>

<%# <----  ITINERARY.NEW  ------> %>

<p><a href="#">LOG OUT</a></p>


</ul>


