<h1> Select a destinations by country:</h1>

<p><%= link_to 'United States of America', destinations_path %></p>
<p><%= link_to 'Greece', destinations_path %></p>
<p><%= link_to 'England', destinations_path %></p>
<p><%= link_to 'China', destinations_path %></p>