<h1> Select a destinations by country:</h1>



  <table>
  <% @destinations.each do |destination| %>
    <tr>
      <td><%= link_to destination.location, destination_path(destination) %></td>
    
  <% end %>
</table>
</ul>