<h1> Select a destination by country:</h1>

<p><%= link_to 'United States of America', destination_path %></p>
<p><%= link_to 'Greece', destination_path %></p>
<p><%= link_to 'England', destination_path %></p>
<p><%= link_to 'China', destination_path %></p>